.search-results {
  width: 200px;
  margin: 0px auto;

  .total {
    padding: 15px 10px;
    background-color: #dddddd;
    margin: 4px 0;

    .total__label {
      font-weight: bold;
    }

    .total__cost {
      font-weight: bold;
    }
  }

  .price--old {
    text-decoration: line-through;
    color: red;
  }
}
