.search-form {
  width: 200px;
  margin: 0px auto;
  align-items: stretch;
}

.search-form > * {
  margin: 10px 0px 0 0;
}

select {
  width: 100%;
  padding: 5px;
  margin: 7px 0;
  border: 2px solid black;
  cursor: pointer;
}

/* sort-select component */
.sort-select {
  width: 100%;
  border: 2px solid black;
  background-color: white;
  box-shadow: 3px 3px 0 0 black;
}

.sort-select:nth-child(1) {
  border-right: none;
}

.sort-select__radio {
  display: none;
}

.sort-select__text {
  display: block;
  width: inherit;
  height: inherit;
  padding: 10px;
  transition: background-color 100ms ease-in;
}

.sort-select__radio:checked ~ .sort-select__text {
  background-color: #95bcf2;
}

.sort-select:hover {
  background-color: #e0edff;
}
