@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* buttons */
button {
  position: relative;
  width: 100%;
  padding: 5px;
  color: white;
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 black;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  background-color: #009e0f;

  &:hover,
  &:focus {
    background-color: #008a0e;
  }

  &:active {
    background-color: #006b0b;
  }
}

label {
  cursor: pointer;
}

/* flex helpers */
.flex--col,
.flex--row,
.flex--center,
.flex--space {
  display: flex;
}

.flex--col {
  flex-direction: column;
}

.flex--row {
  flex-direction: row;
  align-items: center;
}

.flex--center {
  justify-content: center;
}

.flex--space {
  justify-content: space-between;
}

/* text helpers */
.text-cap {
  text-transform: capitalize;
}

.text--xxl {
  font-size: xx-large;
}

.text--sm {
  font-size: small;
}

.text--xs {
  font-size: x-small;
}
