.result-item {
  padding: 1px 10px;
  margin: 4px 0;
  background-color: #eeeeee;

  .result-item--row {
    margin: 10px 0;
  }
}

.price--old {
  text-decoration: line-through;
  color: red;
}

.price--new {
  color: green;
}
